
@{
    ViewBag.Title = "AdminMenuPage";
}

<div>
    @* Margin: Top Right Bottom Left *@
    <button type="button" style="width: 100px; height: 50px; margin: 10px auto 10px 10px;
display: inline-block; border-radius: 5px; outline: none; background-color: #f2f2f2"
            onclick="location.href='@Url.Action("Index", "Home")'">
        Back
    </button>

    @* Margin: Top Right Bottom Left *@
    <button type="button" style="width: 100px; height: 50px; margin: 10px auto 10px 10px;
border-radius: 5px; outline: none; background-color: #f2f2f2; float: right;"
            onclick="location.href='@Url.Action("LoginPage", "Login")'">
        Logout
    </button>
</div>


<h2>This page is still under progress!</h2>


