
@{
    ViewBag.Title = "Marathon Skills 2015 - Registration confirmation";
}
<div class="text-center">
    <h1>Thank you for registering as a runner!</h1>
    <br />
    <h3>Thank you for registering as a runner in Marathon Skills 2015!</h3>
    <h3>You will be contacted soon about payment.</h3>
    <br />
    <br />
    <div class="row col-lg-6 col-lg-offset-3">
        <a class="btn btn-default btn-action" href="#" role="button">OK</a>
    </div>
</div>


